:root{
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    /* Neutral */

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body{
    max-width: 1440px;
    margin: auto;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

a{
  text-decoration: none;
}